{
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true
    }
  },
  "env": {
  },
  "rules": {
    "no-shadow": "off",
    "global-require": "off",
    "no-confusing-arrow": "off",
    "prefer-object-spread": "off",
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "new-cap": "off",
    "eqeqeq": "off",
    "indent": "off",
    "quotes": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "object-shorthand": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "prefer-promise-reject-errors": "off",
    "react/no-multi-comp": "off",
    "react/no-did-update-set-state": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-access-state-in-setstate": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "prefer-template": "off"
  }
}
